@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Ingresa a la lista de cruds disponibles desde la barra de navegación.</p>
</div>
