@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Visualiza las listas de alumnos y empleados desde la barra de navegación</p>
</div>
