@model Practica05032025.AppMVCDataFirst.Models.Estado

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="text-center p-2">@ViewData["Title"]</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Nombre)</h4>
    <hr />
    <div role="tabpanel" class="row p-3">
        <!-- List group -->
        <div class="list-group col-4" id="myList" role="tablist">
            <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#nombre" role="tab">@Html.DisplayNameFor(model => model.Nombre)</a>
            
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-8 text-center h3">
            <div class="tab-pane active" id="nombre" role="tabpanel">@Html.DisplayFor(model => model.Nombre)</div>
        </div>
    </div>
</div>
<div class="row gap-2">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning col-1">Editar</a>
    <a asp-action="Index" class="btn btn-outline-primary col-1">Volver</a>
</div>

